// width/height
$fullWidth: 100%;

// border
$borderStandard: 2px solid #415a77;

// colors
$colorPrimary: #1b263b;
$colorSecondary: #415a77;
$colorDark: #01161e;
$colorLight: white;
$colorAttention:#f15152;
$colorOption: #ffe066


